button {
    background-color: #fff;
    color: #000;
    border: solid 2px #000;
    width: 98px;
    height: 32px;
    line-height: 24px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    cursor: pointer;

    &:not(.disabled){
        &:focus, &:active, &:hover {
            background-color: #000;
            color: #fff;
        }
    }
    &.disabled {
        border-color: #888; 
        color: #888;
        cursor: default;
    }
}

.input-line {
    .barcode-image-container {
        display: inline-block;
        
        .barcode-image {
            height: 64px;
            margin-top: 8px;
        }

        .human-readable {
            width: 100%;
            font-family: sans-serif;
            font-size: 1rem;
            text-align: center;
            margin-top: -8px;
            display: none;
        }
    }

    .control {
        input {
            margin-right: 8px;
            text-transform: uppercase;
        }
    }
}

.powered-by {
    font-family: sans-serif;
    font-size: 9pt;
    margin-top: 60px;
    color: #888;
    
    a {
        color: #888;
        font-weight: bold;        
    }
}

@media print {
    .input-line {
        .barcode-image-container {
            .human-readable {
                display: block;
            }
        }

        .control{
            visibility: hidden;
        }
    }
    .powered-by {
        display: none;
    }
    button {
        display: none;
    }
}